<%- await include('../_partials/header.ejs') %>

<%- await fetchCard('/ps/seznam-poslanskih-skupin/', 1, { state: { generator: true, cardTitle: 'PredstavniÄki dom - Popis klubova' } }) %>

<div style="height:25px"></div>

<%- await fetchCard('/ps/seznam-poslanskih-skupin/', 51, { state: { generator: true, cardTitle: 'Dom naroda - Popis klubova' } }) %>

<%- await include('../_partials/footer.ejs') %>
