<%- await include('../_partials/header.ejs') %>

<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/c/primerjalnik/', 1, { state: { generator: true, cardTitle: 'predstavnicki title' }}) %>
  </div>
</div>
<div style="height:25px"></div>
<div class="row">
  <div class="col-md-12">
    <%- await fetchCard('/c/primerjalnik/', 51, { state: { cardTitle: 'narodni title' }}) %>
  </div>
</div>

<%- await include('../_partials/footer.ejs') %>
